@import 'sass/style';

.appeal {
  &__main-inf-wrapper {
    padding-bottom: 20px;
    border-bottom: 1px solid $alto;
    margin-top: 30px;
  }

  &__main-inf {
    padding: 0;
    margin: 0;
  }

  &__main-inf-block {
    display: inline-block;
    padding: 0 25px;
    border-right: 1px solid $alto;
    &:last-child {
      border-right: 0;
      padding-right: 0;
    }

    &:first-child {
      padding-left: 0;
    }

    @include media-query(sm) {
      padding: 0 15px;
    }
  }

  &__main-inf-title {
    font-size: 16px;
    font-weight: 500;
    color: $blackSolid;
  }

  &__main-inf-content {
    font-size: 18px;
    color: $blackSolid;

    &.status {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;

      &_done {
        color: $nastyGreen;
      }

      &_new {
        color: $darkMintGreen;
      }

      &_at-work {
        color: $viking;
      }

      &_rejected {
        color: $watermelon;
      }
    }
  }

  &__comment {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background: $alabaster;
    padding: 20px 15px;
    margin-top: 25px;
  }

  &__comment-title {
    font-size: 18px;
    font-family: $exo2;
    font-weight: 700;
    text-transform: uppercase;
    color: $blackSolid;
  }

  &__comment-content {
    font-size: 16px;
    margin-top: 15px;
    color: $blackSolid;
  }

  &__map-block {
    margin-top: 30px;
  }

  &__map-title {
    text-transform: uppercase;
    font-weight: 700;
    color: $blackSolid;
    font-size: 18px;
    font-family: $exo2;
  }

  &__map-wrapper {
    height: 772px;
    margin-top: 15px;
  }

  &__address-block {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background: $alabaster;
    padding: 20px 15px;
    margin-top: 25px;
  }

  &__address-title {
    font-size: 18px;
    font-family: $exo2;
    font-weight: 700;
    text-transform: uppercase;
    color: $blackSolid;
  }

  &__address-content {
    font-size: 16px;
    margin-top: 15px;
    color: $blackSolid;
  }

  &__files {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background: $alabaster;
    margin: 30px 0 170px 0;
    padding: 20px 15px 5px 15px;

    @include media-query(sm) {
      margin-bottom: 60px;
    }
  }

  &__files-title {
    text-transform: uppercase;
    font-weight: 700;
    color: $blackSolid;
    font-size: 18px;
    font-family: $exo2;
    float: left;
  }

  &__files-download {
    float: right;
    font-size: 18px;
    color: $viking;
    cursor: pointer;

    .icon {
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__files-table {
    width: 100%;
    margin-top: 25px;
    font-size: 16px;
    table-layout: fixed;
  }

  &__actions-cell {
    text-align: right;

    .icon-download-3 {
      font-size: 28px;
      cursor: pointer;
    }

    .icon-printer {
      font-size: 24px;
      color: $alto;
      margin-right: 20px;
      cursor: pointer;
    }
  }

  &__files-table-row {
    border-bottom: 1px solid rgba(228, 228, 228, .3);
    &:last-child {
      border: 0;
    }

    td {
      padding: 15px 10px;
      &:first-child {
        padding-left: 0;
        padding-right: 0;
        width: 20px;
      }

      &:nth-child(2) {
        padding-left: 0;
        width: 30%;
        word-wrap: break-word;
      }

      &:last-child {
        padding-right: 0;
        width: 20%;
      }
    }

    .icon-file {
      display: inline-block;
      vertical-align: middle;
      color: $endeavour;
    }
  }
}