/* COLORS */
$lightGray: #e8e8e8;
$whiteSolid: #FFFFFF;
$blackSolid: #000000;
$endeavour: #0263B2;
$scorpion: #565656;
$alto: #D8D8D8;
$lochmara: #0173C1;
$alabaster: #FAFAFA;
$wildSand: #F5F5F5;
$denim: #146BB2;
$porcelain: #E6EBEC;
$lightBlue: #F2F8FC;
$mineShaft: #333333;
$viking: #57B1DF;
$rhino: #2c3756;
$taupeGray: #AFAB95;
$jacksonsPurple: #1E3685;
$trout: #535B63;
$darkBlue: #065494;
$nastyGreen: #7dbd41;
$pizazz: #FF9200;
$darkMintGreen: #17B86A;
$solidRed: #FF0000;
$watermelon: #E95E60;
$mercury: #E4E4E4;
$gray: #8D8D8D;
$steelBlue: #418CB4;
$seashell: #F1F1F1;
$tundora: #4A4A4A;
$nobel: #B7B7B7;

/* FONTS */
$roboto: 'Roboto';
$exo2: 'Exo 2';
$icomoon: 'icomoon';

/* FONT SIZES */
$font-md: 16px;
$font-lg: 22px;

/* FONT WEIGHTS */
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
