@import 'sass/style';

.request-page-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  @include media-query(sm) {
    padding: 10px 0;
  }

  &__divider {
    height: 1px;
    width: 100%;
    background-color: $lightGray;
  }

  &__title-content {
    font-family: $exo2, sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
  }
}
